
.tick_icon{

	color: #66dc0d;
    font-size: 20px;
    vertical-align: middle;	
}

.not_active{
	pointer-events: none;
   cursor: default;
}

.mar-top-10{
margin-top: 10px;
}

span.tag{
	background: #337ab7!important;
}

.mt-top{
	margin-top: 10px;
}


/*.accordion {
    background: #2a3f54;
    color: #fff;
}
*/
.accordion .panel {
    border: 3px solid #efefef;
}

.btn-primary {
    
    background-color: #2a3f54;
    
}